// display none when confirm
.signup
    margin: auto

.mailing_list_form
    display: flex
    flex-direction: column
    margin: auto

.form-group
    display: flex  
    justify-content: center
    max-width: 75%

.form-control
    color: $primary-dark
    background: rgba($white, 0.4)
    border-color: $primary-dark
    padding: 1rem
    font-weight: 600

.form-control::placeholder
    color: $primary-dark

.consent-wrapper
    display: flex
    flex-direction: column
    .consent-box
        margin: auto
    .consent-message
        font-size: $font-base
        color: $white

.right 
    .error
        display: none

.errorAnim
    display: flex

.right #success
    display: none

.btn-primary
    font-family: $font-family-hiho
    background-color: $white
    color: $primary-dark
    font: bolder
    border: none
    &:hover
        background-color: $highlight-gold
        color: $primary-dark
        transition: ease-in-out, .2s
        transform: scale(1.1)

.fadeout
    opacity: 1
    animation: fadeout 1s forwards

.fadein
    animation: fadein 1s forwards
    display: block !important
    position: absolute

@keyframes fadeout
    0%
        opacity: 1
    100%
        opacity: 0

@keyframes fadein
    0%
        display: block
        opacity: 0
    100%
        opacity: 1
        display: block
