.signup-container
    max-width: 960px
    border-radius: 20px
    margin: auto   
    background: rgba(0,0,0,0.5)
    box-sizing: border-box
    padding: 40px
    color: $white
    margin-top: 200px
    backdrop-filter: blur(8px)
    text-align: center

.singup-logo
    margin-top: 20px
    margin-bottom: 20px
