@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
body {
  background: #000000; }
  body .container {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0; }
    body .container .inner {
      display: flex;
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 0; }
      @media (max-width: 1720px) {
        body .container .inner {
          flex-direction: column;
          justify-content: center;
          height: 100%; } }
      body .container .inner .left {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/left-background-image.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 67%;
        padding: 7rem; }
        @media (max-width: 1720px) {
          body .container .inner .left {
            width: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/background-vertical.jpg"); } }
        @media (max-width: 768px) {
          body .container .inner .left {
            padding: 0; } }
      body .container .inner .right {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/right-background-image.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 33%;
        padding: 7rem; }
        @media (max-width: 1720px) {
          body .container .inner .right {
            width: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/background-vertical-2.jpg"); } }
        @media (max-width: 768px) {
          body .container .inner .right {
            padding: 0; } }

.pane {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 5rem 2rem;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto Slab", serif; }

.row {
  max-width: 100%;
  display: flex; }
  .row .description {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    justify-content: center; }

.right .row .description {
  display: flex;
  max-width: 80%;
  margin-bottom: 1rem; }
  @media (max-width: 768px) {
    .right .row .description {
      font-size: 1rem; } }

.logo-wrapper {
  max-width: 90%;
  display: flex;
  margin: auto;
  justify-content: center; }
  .logo-wrapper .combined-logo {
    max-width: 75%; }

.signup {
  margin: auto; }

.mailing_list_form {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center; }

.form-group {
  display: flex;
  justify-content: center;
  max-width: 75%; }

.form-control {
  color: #32000a;
  background: rgba(255, 255, 255, 0.4);
  border-color: #32000a;
  padding: 1rem;
  font-weight: 600; }

.form-control::placeholder {
  color: #32000a; }

.consent-wrapper {
  display: flex;
  flex-direction: column; }
  .consent-wrapper .consent-box {
    margin: auto; }
  .consent-wrapper .consent-message {
    font-size: 1rem;
    color: #ffffff; }

.right .right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
.right .error {
  display: none; }

.errorAnim {
  display: flex; }

.right #success {
  display: none; }

.btn-primary {
  font-family: "Roboto Slab", serif;
  background-color: #ffffff;
  color: #32000a;
  font: bolder;
  border: none; }
  .btn-primary:hover {
    background-color: #ffd700;
    color: #32000a;
    transition: ease-in-out, 0.2s;
    transform: scale(1.1); }

.fadeout {
  opacity: 1;
  animation: fadeout 1s forwards; }

.fadein {
  animation: fadein 1s forwards;
  display: block !important;
  position: absolute; }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadein {
  0% {
    display: block;
    opacity: 0; }
  100% {
    opacity: 1;
    display: block; } }
.links-container {
  width: 100%;
  display: flex;
  justify-content: center; }
  .links-container .links-wrapper {
    display: flex;
    margin: auto; }
    .links-container .links-wrapper .social-link {
      margin: 1rem;
      font-size: 1.5rem;
      color: #ffffff; }
      .links-container .links-wrapper .social-link:hover {
        color: #ffd700;
        transition: ease-in-out, 0.2s;
        transform: scale(1.2); }

/*# sourceMappingURL=main.css.map */
