.pane
    background: rgba(0,0,0,0.4)
    backdrop-filter: blur(8px)
    border-radius: 20px
    padding: 5rem 2rem
    height: 100%
    width: 100%
    justify-content: center
    align-items: center
    display: flex
    flex-direction: column
    text-align: center
    color: $white
    font-family: $font-family-hiho
            
.row
    max-width: 100%
    display: flex
    .description
        margin-bottom: 2rem
        font-size: $font-large
        justify-content: center

.right
    .row
        .description
            display: flex
            flex-direction: column
            max-width: 80%
            margin-bottom: 1rem
            line-height: 1.25rem
            @media (max-width: 768px)
                font-size: $font-base
            .phone-number
                margin-top: 2rem
                margin-bottom: .5rem
            .email
                margin-bottom: 2rem
            .join-us-message
                margin-bottom: 1rem
.logo-wrapper
    max-width: 90%
    display: flex
    margin: auto
    justify-content: center
    .combined-logo
        max-width: 75%

ul
    list-style: none
    padding: 0
